[submodule "tree-sitter-python"]
	path = tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python.git
	branch = v0.25.0
[submodule "lua-ls-plugins/busted"]
	path = lua-ls-plugins/busted
	url = https://github.com/LuaCATS/busted.git
[submodule "lua-ls-plugins/luassert"]
	path = lua-ls-plugins/luassert
	url = https://github.com/LuaCATS/luassert.git
[tree-sitter-python]
	ignore = all
