name: Static checks
env:
  TEST_PLUGIN_PATH: "../nvim-plugins/"

on:
  pull_request:
    branches:
      - master
jobs:
  unit_tests:
    name: lua-language-server check
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: v0.11.0

      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@main

      - name: Install Lua language server
        run: |
          brew install lua-language-server

      - name: Check formatting
        uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: v2.3.0
          args: --check .

      - uses: ilammy/msvc-dev-cmd@v1
      - uses: leafo/gh-actions-lua@v12
        with:
          luaVersion: "5.1.5"

      - uses: leafo/gh-actions-luarocks@v6

      - name: Install plugins
        run: |
          luarocks --version
          luarocks install --deps-only --force python-tools.nvim-0.2-0.rockspec

      - name: Check types
        run: |
          echo "Checking types in: $(pwd)"
          lua-language-server --version
          make type-check
