name: Lint

on:
  pull_request:
    branches:
      - master
jobs:
  unit_tests:
    name: lua-language-server check
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/prepare-env

      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@main

      - name: Install Lua language server
        run: |
          brew install lua-language-server
          lua-language-server --version

      - name: Check formatting
        uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: v2.3.0
          args: --check .

      - name: Check types
        run: make check-types
